<a href="https://colab.research.google.com/github/LammyG/AdaBoost/blob/main/olamide_project_basketball_data_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install oi
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
bb_master = pd.read_csv('bb_master.csv')
bb_teams = pd.read_csv('bb_teams.csv')
bb_player_allstar = pd.read_csv('bb_player_allstar.csv')
bb_coaches = pd.read_csv('bb_coaches.csv')
bb_series_post = pd.read_csv('bb_series_post.csv')

Collecting oi
  Downloading oi-0.4.2.tar.gz (8.8 kB)
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     |████████████████████████████████| 154 kB 5.4 MB/s
Collecting nanomsg
  Downloading nanomsg-1.0.tar.gz (10 kB)
Collecting nanoservice
  Downloading nanoservice-0.7.2.tar.gz (10 kB)
Collecting colorama
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Collecting msgpack-python
  Downloading msgpack-python-0.5.6.tar.gz (138 kB)
     |████████████████████████████████| 138 kB 45.0 MB/s
Building wheels for collected packages: oi, nanomsg, nanoservice, msgpack-python
  Building wheel for oi (setup.py) ... done
  Created wheel for oi: filename=oi-0.4.2-py3-none-any.whl size=9524 sha256=7c070517a5059d2ad187e7303e67598c466d7945adbd848a0c688a133ca0a568
  Stored in directory: /root/.cache/pip/wheels/aa/bb/c8/25c36d15af7c36ea84b1c0f6209e110e0d105ad5656709dea4
  Building wheel for nanomsg (setup.py) ... done
  Created wheel for nanomsg: filename=nanomsg-1.0-cp37-cp37m-linux_x86_64.whl size=8165 sha256=88ea2e83daabe13ca66e880b6b85f449918969e4862f261cfabb0cd26bb00360
  Stored in directory: /root/.cache/pip/wheels/5b/82/e0/f80d5dfc29a95891f032640e1ddd0bb747bff95b4da413edc1
  Building wheel for nanoservice (setup.py) ... done
  Created wheel for nanoservice: filename=nanoservice-0.7.2-py2.py3-none-any.whl size=13020 sha256=75a40cd8d149695e6010dfe4e086a376289bff67b5bce40ca14edb6152a479c4
  Stored in directory: /root/.cache/pip/wheels/74/f8/75/4e6c3e17891dadd335914a6c71c9af6141584587aa9524ea52
  Building wheel for msgpack-python (setup.py) ... done
  Created wheel for msgpack-python: filename=msgpack_python-0.5.6-cp37-cp37m-linux_x86_64.whl size=306073 sha256=5d8129006a2923d36184ed78813690bd9116f70ffbae0e95291053a8ad4717df
  Stored in directory: /root/.cache/pip/wheels/f8/6c/02/92ebc97f3b99ad5bfc675be2c513f9cb3504fdbe338314f377
Successfully built oi nanomsg nanoservice msgpack-python
Installing collected packages: nose, nanomsg, msgpack-python, nanoservice, colorama, oi
Successfully installed colorama-0.4.4 msgpack-python-0.5.6 nanomsg-1.0 nanoservice-0.7.2 nose-1.3.7 oi-0.4.2

Saving bb_player_allstar.csv to bb_player_allstar.csv
Saving bb_series_post.csv to bb_series_post.csv
Saving bb_teams.csv to bb_teams.csv
Saving bb_coaches.csv to bb_coaches.csv
Saving bb_master.csv to bb_master.csv

In [3]:
from google.colab import files
uploaded = files.upload()
import io
bb_hof = pd.read_csv('bb_hof.csv')
bb_draft = pd.read_csv('bb_draft.csv')
bb_abbrev = pd.read_csv('bb_abbrev.csv')
bb_awards_players = pd.read_csv('bb_awards_players.csv')
bb_awards_coaches = pd.read_csv('bb_awards_coaches.csv')

Saving bb_awards_players.csv to bb_awards_players.csv
Saving bb_draft.csv to bb_draft.csv
Saving bb_hof.csv to bb_hof.csv
Saving bb_abbrev.csv to bb_abbrev.csv
Saving bb_awards_coaches.csv to bb_awards_coaches.csv

In [4]:
bb_master.columns

Index(['bioID', 'useFirst', 'firstName', 'middleName', 'lastName', 'nameGiven',
       'fullGivenName', 'nameSuffix', 'nameNick', 'pos', 'firstseason',
       'lastseason', 'height', 'weight', 'college', 'collegeOther',
       'birthDate', 'birthCity', 'birthState', 'birthCountry', 'highSchool',
       'hsCity', 'hsState', 'hsCountry', 'deathDate', 'race'],
      dtype='object')

In [6]:
bb_master.columns = bb_master.columns.str.upper()

In [7]:
bb_master.head()

       BIOID USEFIRST FIRSTNAME MIDDLENAME  ...  HSSTATE HSCOUNTRY   DEATHDATE RACE
0  abdelal01     Alaa      Alaa        NaN  ...       NJ       USA  0000-00-00    B
1  abdulka01   Kareem    Kareem        NaN  ...       NY       USA  0000-00-00    B
2  abdulma01    Mahdi     Mahdi        NaN  ...  PA / MD       USA  2011-11-18    B
3  abdulma02  Mahmoud   Mahmoud        NaN  ...       MS       USA  0000-00-00    B
4  abdulta01    Tariq     Tariq        NaN  ...      NaN       FRA  0000-00-00    B

[5 rows x 26 columns]

In [12]:
bb_hof.columns

Index(['YEAR', 'HOFID', 'NAME', 'CATEGORY'], dtype='object')

In [13]:
bb_hof.columns = bb_hof.columns.str.upper()

In [ ]:
bb_master.isnull()

      BIOID  USEFIRST  FIRSTNAME  ...  HSCOUNTRY  DEATHDATE   RACE
0     False     False      False  ...      False      False  False
1     False     False      False  ...      False      False  False
2     False     False      False  ...      False      False  False
3     False     False      False  ...      False      False  False
4     False     False      False  ...      False      False  False
...     ...       ...        ...  ...        ...        ...    ...
5056  False     False      False  ...       True      False   True
5057  False     False      False  ...       True      False   True
5058  False     False      False  ...       True      False   True
5059  False     False      False  ...       True      False   True
5060  False     False      False  ...       True      False   True

[5061 rows x 26 columns]

In [14]:
bb_hof.head()

   YEAR      HOFID               NAME     CATEGORY
0  1959        NaN  Amos Alonzo Stagg  Contributor
1  1959        NaN      Charles Hyatt       Player
2  1959        NaN      Edward Hickox  Contributor
3  1959  mikange01       George Mikan       Player
4  1959        NaN      Hank Luisetti       Player

In [15]:
bb_master.isnull().any()

BIOID            False
USEFIRST          True
FIRSTNAME         True
MIDDLENAME        True
LASTNAME         False
NAMEGIVEN         True
FULLGIVENNAME     True
NAMESUFFIX        True
NAMENICK          True
POS               True
FIRSTSEASON       True
LASTSEASON        True
HEIGHT            True
WEIGHT            True
COLLEGE           True
COLLEGEOTHER      True
BIRTHDATE         True
BIRTHCITY         True
BIRTHSTATE        True
BIRTHCOUNTRY      True
HIGHSCHOOL        True
HSCITY            True
HSSTATE           True
HSCOUNTRY         True
DEATHDATE        False
RACE              True
dtype: bool

In [16]:
bb_master.isnull().any().any()

True

In [17]:
bb_master.isnull().sum()

BIOID               0
USEFIRST          831
FIRSTNAME          24
MIDDLENAME       1816
LASTNAME            0
NAMEGIVEN        5052
FULLGIVENNAME    5035
NAMESUFFIX       4738
NAMENICK         2354
POS               182
FIRSTSEASON        15
LASTSEASON         15
HEIGHT             13
WEIGHT             14
COLLEGE           178
COLLEGEOTHER     4208
BIRTHDATE          11
BIRTHCITY        1174
BIRTHSTATE       1454
BIRTHCOUNTRY     1160
HIGHSCHOOL        773
HSCITY            765
HSSTATE           834
HSCOUNTRY         765
DEATHDATE           0
RACE              159
dtype: int64

In [18]:
bb_master.isnull().sum().sum()

31570

In [19]:
bb_master.head()

       BIOID USEFIRST FIRSTNAME MIDDLENAME  ...  HSSTATE HSCOUNTRY   DEATHDATE RACE
0  abdelal01     Alaa      Alaa        NaN  ...       NJ       USA  0000-00-00    B
1  abdulka01   Kareem    Kareem        NaN  ...       NY       USA  0000-00-00    B
2  abdulma01    Mahdi     Mahdi        NaN  ...  PA / MD       USA  2011-11-18    B
3  abdulma02  Mahmoud   Mahmoud        NaN  ...       MS       USA  0000-00-00    B
4  abdulta01    Tariq     Tariq        NaN  ...      NaN       FRA  0000-00-00    B

[5 rows x 26 columns]

In [20]:
bb_master.shape

(5061, 26)

In [28]:
#drop missing rows or numbers with condition(s)
bb_master.dropna(axis=1)

          BIOID      LASTNAME   DEATHDATE
0     abdelal01     Abdelnaby  0000-00-00
1     abdulka01  Abdul-Jabbar  0000-00-00
2     abdulma01  Abdul-Rahman  2011-11-18
3     abdulma02    Abdul-Rauf  0000-00-00
4     abdulta01   Abdul-Wahad  0000-00-00
...         ...           ...         ...
5056   rosegl01          Rose  0000-00-00
5057  shephle01      Shepherd  0000-00-00
5058  glammge01      Glammack  0000-00-00
5059  eurasge01        Eurash  0000-00-00
5060  koliswa01        Kolish  0000-00-00

[5061 rows x 3 columns]

In [29]:
bb_master.dropna(axis=1).shape

(5061, 3)

In [30]:
bb_hof.isnull().any()

YEAR        False
HOFID        True
NAME        False
CATEGORY    False
dtype: bool

In [31]:
bb_hof.isnull().sum()

YEAR          0
HOFID       188
NAME          0
CATEGORY      0
dtype: int64

In [32]:
bb_hof.isnull().sum().sum()

188

In [33]:
bb_hof.shape

(328, 4)

In [34]:
#drop missing rows with condition(s)
bb_hof.dropna(axis=1)

     YEAR               NAME     CATEGORY
0    1959  Amos Alonzo Stagg  Contributor
1    1959      Charles Hyatt       Player
2    1959      Edward Hickox  Contributor
3    1959       George Mikan       Player
4    1959      Hank Luisetti       Player
..    ...                ...          ...
323  2012     Lidia Alexeeva        Coach
324  2012        Mel Daniels       Player
325  2012        Phil Knight  Contributor
326  2012      Ralph Sampson       Player
327  2012      Reggie Miller       Player

[328 rows x 3 columns]

In [35]:
bb_hof.dropna(axis=1).shape

(328, 3)

In [36]:
bb_master.describe()

       FIRSTSEASON   LASTSEASON       HEIGHT       WEIGHT
count  5046.000000  5046.000000  5048.000000  5047.000000
mean      0.386643     0.386643    74.269810   194.565683
std      27.465256    27.465256    15.272533    49.357786
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000    74.000000   181.000000
50%       0.000000     0.000000    77.000000   200.000000
75%       0.000000     0.000000    80.000000   220.000000
max    1951.000000  1951.000000    91.000000   330.000000

In [37]:
bb_hof.describe()

              YEAR
count   328.000000
mean   1986.161585
std      17.113261
min    1959.000000
25%    1972.000000
50%    1987.000000
75%    2001.000000
max    2012.000000

In [49]:
bb_master.duplicated().any()

False

In [51]:
import numpy as np
import pandas as pd
bb_master.groupby('FULLGIVENNAME').first()

                                    BIOID USEFIRST  ...   DEATHDATE RACE
FULLGIVENNAME                                       ...
Akeem Abdul Olajuwon            olajuha01   Hakeem  ...  0000-00-00    B
Armon Louis Gilliam             gilliar01    Armon  ...  2011-07-05    B
Brian Carson Williams            delebi01    Bison  ...  2002-07-07    B
Chris Wayne Jackson             abdulma02  Mahmoud  ...  0000-00-00    B
Clifton Nathaniel               cliftna01      Nat  ...  1990-08-31    B
Donald A. Smith                 abdulza01     Zaid  ...  0000-00-00    B
Ed Milkovich                    melvied01       Ed  ...  2004-07-30    W
Ferdinand Lewis Alcindor, Jr.   abdulka01   Kareem  ...  0000-00-00    B
Gary Cole                       jeelaab01    Abdul  ...  0000-00-00    B
Gjuro Gregorvitch Glamocli      glamage01   George  ...  1987-03-10    W
Hashim Thabit Manka             thabeha01  Hasheem  ...  0000-00-00    B
Jackson Keith Wilkes            wilkeja01   Jamaal  ...  0000-00-00    B
Joel Gregory Muleski            masonjo01     None  ...  1995-10-31    W
Lloyd Bernard. Free              freewo01    World  ...  0000-00-00    B
Marcus Vinicius Viera de Souza  vincima01   Marcus  ...  0000-00-00    B
Maybyner Rodney Hilario         hilarne01     Nene  ...  0000-00-00    B
Olivier Michael Saint-Jean      abdulta01    Tariq  ...  0000-00-00    B
Robert L. Stacey                arcenst01   Stacey  ...  0000-00-00    B
Ronald Charles Sobieszczyk      sobiero01      Ron  ...  2009-10-23    W
Ronald William Artest           artesro01    Metta  ...  0000-00-00    B
Samb Cheikh Tidiane              sambch01   Cheick  ...  0000-00-00    B
Stanley J. Modzelewski          stutzst01     Stan  ...  1975-10-28    W
Swen Langeberg at J.C.          natersw01     Swen  ...  0000-00-00    W
Walter Jones                    joneswa02     Wali  ...  0000-00-00    B
Walter Raphael Hazzard, Jr.     abdulma01    Mahdi  ...  2011-11-18    B
Warren Edward Armstrong         jabalwa01   Warren  ...  0000-00-00    B

[26 rows x 25 columns]

In [52]:
bb_hof.duplicated().any()

False

In [62]:
bb_hof.groupby('HOFID').first()

           YEAR                 NAME CATEGORY
HOFID
abdulka01  1995  Kareem Abdul-Jabbar   Player
archina01  1991       Tiny Archibald   Player
arizipa01  1978          Paul Arizin   Player
auerbre01  1969         Red Auerbach    Coach
barklch01  2006      Charles Barkley   Player
...         ...                  ...      ...
wintete01  2011           Tex Winter    Coach
woodejo01  1960          John Wooden   Player
woolpph01  1992     Phillip Woolpert    Coach
worthja01  2003         James Worthy   Player
yardlge01  1996       George Yardley   Player

[136 rows x 3 columns]

In [61]:
bb_hof.groupby('CATEGORY').count()

             YEAR  HOFID  NAME
CATEGORY
Coach          90     24    90
Contributor    58     10    58
Player        157    105   157
Referee        14      1    14
Team            9      0     9

In [ ]:
#Inferences from dataset
- in the bb_master dataset, there were missing datas which was dropped. notably the birthstate, birthcountry of some coaches/players were missing  ().i.e. not recorded in the dataset).
  even physical features or attributes of some players/coaches were missing.
- the dataset of bb_master consists of 5061 rows x 26 columns. However after dropping the missing columns & rows.
   we're left with 5061 rows x 3 columns of the dataset to work with.
- Likewise the bb_hof dataset which consists of 328 rows x 4 columns; there were 188 missing datas, in which after dropping them, we're left with 328rows x 3columns to work with.
- the mean of the statistics for the first season is also deduced to be same as that of last season.
  while there was an increase in the mean of this weight when compared to height.
- in the year 1959, the category of; coach, contributor, player, referee and team were all included in the hall of fame with their HOF ID inclusive.